@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background: #151515;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.nav {
  background: #282828;
  color: #fff;
  position: relative;
}

.nav__burger {
  background: #151515;
  color: #fff;
  padding: 15px;
  font-size: 15px;
  border: none;
  display: none;
}

.menu__link {
  font-size: 20px;
  font-weight: 700;
}

.nav__menu {
 display: flex;
 justify-content: space-between;
 padding-top: 6px;
 padding-bottom: 6px;
 align-items: center;
 gap: 30px;
}

.nav__box {
  display: flex;
  padding-top: 6px;
  padding-right: 15px;
  padding-bottom: 6px;
  gap: 25px;
 
}

.nav__content {
  display: flex;
  justify-content: space-between;
   align-items: center;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__conent {
  flex-grow: 1;
  background: url(../img/hbg.jpg) center/cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-size: 100px;
  font-family: "ProstoOne";
  line-height: 75px;
  margin-bottom: 38px;
}

.header__link {
  font-size: 20px;
  color: #171718;
  font-weight: 500;
  padding: 13px;
  background: #fff;
  border-radius: 10px;
}

.section {
  color: #FFFFFF;
  margin-top: 30px;
}

.box__line {
  width: 61px;
  height: 1px;
  background: #c4c4c4;
}

.box__desc {
  font-size: 22px;
  max-width: 538px;
  width: 100%;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  margin-bottom: 50px;
}

.box__desc_pad {
  max-width: 540px;
  width: 100%;
}

.box__desc_fz {
  font-size: 20px;
  font-weight: 700;
  max-width: 333px;
  width: 100%;
  text-align: right;
}

.box__desc_padding {
  font-size: 20px;
  font-weight: 700;
  max-width: 333px;
  width: 100%;
}

.custom__content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 55px;
}

.custom__wrapper {
  padding: 15px 47px;
  background: #FFFFFF;
  border-radius: 6px;
  text-align: center;
}

.custom__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.custom__desc {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.custom__link {
  font-size: 16px;
  font-weight: 700;
  padding: 7px 57px;
  background: #151515;
  color: #fff;
  display: block;
}

.footer {
  color: #fff;
  background: #282828;
}

.footer__content {
  position: relative;
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  align-items: center;
  justify-content: space-between;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  gap: 30px;
}

.footer__box {
  font-size: 55px;
  gap: 29px;
}